/* CAROUSEL */

.carousel {
	display: grid;
  margin-top: .4rem;
	width: 99%;
	height: 30rem;
	grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.carousel__body {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    transition: all .3s;
    display: grid;
    overflow: hidden;
    grid-column-start: 1;
  	grid-column-end: 7;
  	grid-row-start: 1;
  	grid-row-end: 2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
}

.carousel__body__el {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    transition: all .3s;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 3;
}

.body-active {
    opacity: 1;
    transition: all .3s;
    z-index: 1000;
}

.body-active img {
    transform: scale(1);
    transition: all .3s;
}

.carousel__body__el-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    grid-column-start: 1;
  	grid-column-end: -1;
  	grid-row-start: 1;
  	grid-row-end: -1;
    transform: scale(1.05);
    transition: all .3s;
}

.carousel__body__el-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-self: grid-column-start;
	align-self: center;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 8;
	grid-row-end: 10;
	box-sizing: border-box;
  /*width: 100%;*/
  background-color: var(--main);
  background: linear-gradient(151deg, var(--black-light) 0%,var(--black) 60%, var(--black) 100%);
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
  z-index: 1000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.carousel__body__el-h1 {
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    font-weight: 500;
    z-index: 3;
    opacity: 0;
    transition: all 1.3s;
    box-sizing: border-box;
    font-size: 2rem;
    color: var(--main-light);
    text-decoration: none;
    transition: all .3s;
}

.h1-1 {
	margin: 0;
}

.h1-2 {
	margin: 0;
}

.h1-3 {
	margin: 0;
}

.carousel__body__el-p {
    display: none;
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    z-index: 3;
    opacity: 0;
    transition: all 1s;
    box-sizing: border-box;
}

.h1-active {
    top: 35vh;
    opacity: 1;
    z-index: 10000;
}

.p-active {
    top: 45vh;
    opacity: 1;
}

.carousel__body__el-btn {
    display: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 2rem;
    text-align: center;
    border-radius: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 3;
    transition: all .3s;
}

.carousel__left {
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 2;
    background: none;
    border: none;
    outline: none;
    z-index: 1001;
    opacity: .3;
    transition: all .3s;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.carousel__left:hover {
    opacity: .7;
}

.carousel__left svg {
	fill: var(--black);
	width: 3rem;
	height: 3rem;
}

.carousel__right {
	grid-column-start: 6;
  	grid-column-end: 7;
  	grid-row-start: 1;
  	grid-row-end: 2;
    background: none;
    border: none;
    outline: none;
    z-index: 1001;
    opacity: .3;
    transition: all .3s;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.carousel__right:hover {
    opacity: .7;
}

.carousel__right svg {
	fill: var(--black-light);
	width: 3rem;
	height: 3rem;
}

.carousel__overlay {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
  background-image: linear-gradient(to bottom,rgba(0,0,0,.2) ,rgba(0,0,0,.2) 90%);
  z-index: 2;
}

@keyframes rightbutton{
    from {transform: translateX(0);}
    to {transform: translateX(1rem);}
}

@keyframes leftbutton{
    from {transform: translateX(0);}
    to {transform: translateX(-1rem);}
}


@media screen and (max-width: 900px){
  .carousel {
    height: 25rem;
  }
}


